Click==7.0
Flask==1.0.3
inflect==2.1.0
itsdangerous==1.1.0
jaraco.itertools==4.4.2
Jinja2==2.10.1
MarkupSafe==1.1.1
more-itertools==7.0.0
six==1.12.0
Werkzeug==0.15.4
wolframalpha==3.0.1
xmltodict==0.12.0
gunicorn==20.0.4