<!DOCTYPE html>
<html lang="en">
<head>
    <title>WolframUX</title>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ '/components/mathquill.css' | url }}" type="text/css">
    <link rel="stylesheet" href="{{ '/components/style.css' | url }}" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
    <script src="{{ '/components/mathquill.js' | url }}"></script>
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-8 col-md-6">
            <img id="logo" class="img-fluid mb-4" src="{{ '/components/img/walogo.png' | url }}" alt="logo">
        </div>
    </div>
</div>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-sm-12 ">
            <div class="main-box  shadow-lg p-3 mb-5 bg-white rounded">
                <h2 id="inner-text" class="text-center">INPUT YOUR EQUATION</h2>
                <div class="row justify-content-center">
                    <form class="box-container col-8">
                        <div class="math-wrapper">
                            <span id="math-input"></span>
                        </div>
                        <button id="sb-button"
                                onclick="window.open('https://www.wolframalpha.com/input/?i=' + encodeURIComponent(mathField.latex()),'_blank','resizable=yes') "></button>
                        {# <button class="sb-button" style="display: inline-block;">=</button> #}
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    var inputSpan = document.getElementById('math-input');
    var MQ = MathQuill.getInterface(2);
    var mathField = MQ.MathField(inputSpan, {
        spaceBehavesLikeTab: true,
        leftRightIntoCmdGoes: 'up',
        restrictMismatchedBrackets: true,
        supSubsRequireOperand: true,
        charsThatBreakOutOfSupSub: '+-=<>',
        autoCommands: 'pi theta sqrt sum',
        autoOperatorNames: 'sin cos tan',
    });
    mathField.focus();
    $(document).ready(function(){
    $('#math-input').keypress(function(e){
      if(e.keyCode==13)
      $('#sb-button').click();
    });
})
</script>
</body>
</html>
