<!doctype html>
<html lang="en">
<head>
    <title>WolframUx</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/mathquill.css">
    <link href="../static/mathquill.css" rel="stylesheet">
    <!--    <link href="lib/static/mathquill-basic.css" rel="stylesheet">-->
    <link href="../static/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!--    <script src="lib/mathquill-basic.js"></script>-->
    <script src="../static/mathquill.js"></script>
    <script src="../static/mathquill.test.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>


<body>

<h1 id="H1_6">
    <a title="Wolfram|Alpha Computational Intelligence" id="A_1"></a>
</h1>

<div id="DIV_1">
    <div id="DIV_3">
        Input your equation
    </div>

    <fieldset class="FIELDSET_1">

        <form class="DIV_2" method="post" action="/redirect_to_wolfram">

            <span id="math-field" class="INPUT_7"> </span>
            <button type="submit" id="submit_button" class="INPUT_14"></button>
        </form>
    </fieldset>
</div>
    


    <!--<button onclick="add_sqrt()"> add sqrt</button>-->


    <script>
        var mathFieldSpan = document.getElementById('math-field');


        var MQ = MathQuill.getInterface(2); // for backcompat
        var mathField = MQ.MathField(mathFieldSpan, {spaceBehavesLikeTab: true,});
        mathField.focus();

        function add_sqrt() {
            mathField.cmd('\\sqrt');
        }

        const getdata = (e) => {
            console.log('test',);
            e.preventDefault();
            console.log("button click");
            fetch("/redirect_to_wolfram",
                {
                    method: "POST",
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({value: mathField.latex()})
                }).then(res => res.json()).then(res => window.location.replace(res['url']))
        };
        console.log(document.getElementById("submit_button").addEventListener('click', getdata));
    </script>
</body>
</html>
